<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Répondre Quizz</title>
    <style>
        body {
            background: url(/images/finalus_lecture.jpg) no-repeat center center fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<form>
    <div style="position:absolute; left:350px;top:320px;font-size:100%;border-left:2px; z-index:2;color:white;">
        <b><h1 class="m-b-0 text-white" th:text="${question.ennonce}"></h1></b>
    </div>
    <div  style="position:absolute; left:730px;top:370px;font-size:70%;border-left:2px; z-index:2;">
        <b><button class="btn_submit" style="border: hidden;background-color: transparent;font-size: 300%;" th:text="${question.reponse}" th:value="${question.reponse}" ></button></b>
    </div>
    <div style="position:absolute; left:930px;top:370px;font-size:70%;border-left:2px; z-index:2;">
        <b><button class="btn_submit" style="border: hidden;background-color: transparent;font-size: 300%;" th:text="${question.proposition1}" th:value="${question.proposition1}" ></button></b>
    </div>
    <div style="position:absolute; left:1100px;top:370px;font-size:70%;border-left:2px; z-index:2;">
        <b><button class="btn_submit" style="border: hidden;background-color: transparent;font-size: 300%;" th:text="${question.proposition2}" th:value="${question.proposition2}" ></button></b>
    </div>
    <div style="position:absolute; left:1270px;top:370px;font-size:70%;border-left:2px; z-index:2;">
        <b><button class="btn_submit" style="border: hidden;background-color: transparent;font-size: 300%;" th:text="${question.proposition3}" th:value="${question.proposition3}" ></button></b>
    </div>
    <input type="hidden" class="form-control" id="eleve_id" th:value="${eleve.id}" >
    <input type="hidden" class="form-control" id="question_id" th:value="${question.id}" >
    <div class="alert alert-success" id="msgNiveau" style="display: none;">

</form>
<script src="/js/lib/jquery/jquery.min.js"></script>

<script type="application/javascript">
    $(document).ready(function () {
        $('.btn_submit').on("click",function(e){
            e.preventDefault();
            var eleve_id = $("#eleve_id").val();
            var question_id = $("#question_id").val();
            var reponse = $(this).val();
                $.ajax({
                    type:"POST",
                    url:"/envoyerReponse",
                    data:{eleve_id:eleve_id,question_id:question_id, reponse:reponse},
                    success:function (data) {
                        alert(data);
                    }
                });

        });
    });
</script>

</body>
</html>